<small>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> There are 3 phases to the task: <b>PRACTICE</b> where you learn the controls to operate the robot, 
            <b>LEARN</b> where you are taught about the robots thinking, and <b>TEACH</b> where you teach the robot by showing it how to complete the task. </li>
        <li class="list-group-item">
            <b>Practice:</b> Explore the controls and complete the task 3 times. To complete the task, move the robot arm (using <b>W,A,S,D</b>) with the gripper to 
        the nut (rotate with <b>C,V</b>), pick the nut up (use <b>SPACE</b> to close the gripper) and move it to the peg. Insert the nut into the peg to finish the task. The image shows how the task is completed.
            You can press the <b>Q</b> key to reset the robot to its initial position.
        </li>
        <li class="list-group-item"><b>Learn:</b> You will then be shown 5 demonstrations from which the robot learned. Try and understand how the robot has learned to think.</li>
        <li class="list-group-item"><b>Teach:</b> In this phase, you are asked to show the robot how to complete the task 10 times. Try and complete the task similar to the robots style.
    A panel with changing colors will give you feedback about the compatibility of your actions with the robots thinking. (red: bad, green: good).</li>
        <li class="list-group-item"><b>Accepted:</b> If your demonstration is accepted, you will move to the next demonstration or next stage.</li>
        <li class="list-group-item"><b>Rejected:</b> If your demonstration is rejected, you'll be shown a replay of the demonstration showing parts that were incompatible with the robots thinking. 
        You will also be shown an example from which the robot has been learning so that you understand how it has learned to think. </li>
        <!-- <li class="list-group-item"><b>Repeat:</b> The robot will go back to training and learn from the feedback you provided to improve. This cycle of 
        learning and teaching will be repeated 3 times.</li> -->
    </ul>
</small>