<small>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> There are 2 phases to the task: <b>PRACTICE</b> where you learn the controls to operate the robot, 
            <b>TEACH</b> where you teach the robot by showing it how to complete the task. </li>
        <li class="list-group-item">
            <b>Practice:</b> Explore the controls and complete the task 3 times. To complete the task, move the robot arm (using <b>W,A,S,D</b>) with the gripper to 
        the nut (rotate with <b>C,V</b>), pick the nut up (use <b>SPACE</b> to close the gripper) and move it to the peg. Insert the nut into the peg to finish the task. The image shows how the task is completed.
            You can press the <b>Q</b> key to reset the robot to its initial position.
        </li>
        <li class="list-group-item"><b>Teach:</b> In this phase, you have to show the robot how to complete the task 10 times.</li>
    </ul>
</small>