<small>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"> There are 2 phases to the task: <b>PRACTICE</b> where you learn the controls to operate the robot, 
       and <b>INTERVENE</b> where you teach the robot by helping it complete the task. </li>
    <li class="list-group-item">
        <b>Practice:</b> Explore the controls and complete the task 3 times. To complete the task, move the robot arm (using <b>W,A,S,D</b>) with the gripper to 
      the nut (rotate with <b>C,V</b>), pick the nut up (use <b>SPACE</b> to close the gripper) and move it to the peg. Insert the nut into the peg to finish the task. The image shows how the task is completed.
       You can press the <b>Q</b> key to reset the robot to its initial position.
    </li>
    <!-- <li class="list-group-item"><b>Training:</b> The robot will train for about 2 minutes on demonstrations previously given by an expert. You don't need to do anything at this stage.</li> -->
    <li class="list-group-item"><b>Intervene:</b> The robot will then try to complete the task 10 times. When you think that the robot is stuck
      or is not taking the best actions, you can intervene by pressing <b>Z</b> and taking over control. When you think 
    that the robot can complete the task, you can switch control back to the robot by pressing <b>Z</b>. <br>
    <!-- <li class="list-group-item"><b>Repeat:</b> The robot will go back to training and learn from the feedback you provided to improve. This cycle from training,
      learning and intervening will be repeated 5 times.</li> -->
</ul>
</small> 